/* @theme smalltalk_style */
@import 'base_style';
section { 
  background: linear-gradient(135deg, #ffffff 0%, #ffffff 90%, #fbbf24 100%) !important; 
  color: #2d2a1b; 
}

h2 { 
  color: #92400e !important;
  border-bottom: 6px solid #d97706 !important;
  background-color: #ffedd5 !important;
}

h3 { 
  color: #78350f !important; 
  border-bottom: 2px solid #f59e0b !important; 
}
h4 { 
  color: #4a5568 !important; 
  border-bottom: 1px dotted #f59e0b !important; 
} 
code, pre {
background-color: #ffedd5 !important;  
/*  background-color: #fffbeb !important; */
  color: #000000 !important;
}

img {
  border: 1px solid #f59e0b !important;
}

blockquote {
  border-left: 4px solid #fbbf24 !important;
}  